USE [master]
GO
/****** Object:  Database [book]    Script Date: 2020/12/25 10:36:01 ******/
CREATE DATABASE [book] ON  PRIMARY 
( NAME = N'book', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10.MSSQLSERVER\MSSQL\DATA\book.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'book_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10.MSSQLSERVER\MSSQL\DATA\book_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [book].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [book]
GO
/****** Object:  User [u3]    Script Date: 2020/12/25 10:36:01 ******/
CREATE USER [u3] FOR LOGIN [u3] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [u2]    Script Date: 2020/12/25 10:36:01 ******/
CREATE USER [u2] FOR LOGIN [u2] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [u1]    Script Date: 2020/12/25 10:36:01 ******/
CREATE USER [u1] FOR LOGIN [u1] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[admin]    Script Date: 2020/12/25 10:36:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[admin](
	[name] [varchar](50) NULL,
	[psw] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[t_book]    Script Date: 2020/12/25 10:36:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t_book](
	[bid] [int] NOT NULL,
	[bname] [varchar](50) NULL,
	[bauthor] [varchar](50) NULL,
 CONSTRAINT [PK_t_book] PRIMARY KEY CLUSTERED 
(
	[bid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[pro_femalestu_no@]    Script Date: 2020/12/25 10:36:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[pro_femalestu_no@]
as
SELECT bid,bname,bauthor
from book
where bid='1001'
GO
USE [master]
GO
